* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: url(../img/banner-bg.jpg) no-repeat center center / cover;
}

.nav-link {
    font-weight: 700;
    color: #fff;

}

.navbar-nav .nav-link.active,
.navbar-nav .show.nav-link {
    color: #87d37c;
}

.nav-link:focus,
.nav-link:hover {
    color: #87d37c;
}
.fixed-top.scrolled {
    background-color: rgba(0, 0, 0, 0.494) !important;
    transition: background-color 200ms linear;
  }



.banner-content {
    padding: 180px 0;
}

.banner-content h1 {
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    font-size: 100px;
    margin: 8px 0px;
    color: #fefbfc;
    border: 2px solid #fefbfc;
    padding: 12px 10px;
}

.banner-content h1 span {
    color: #87d37c;
}

.banner-content h3 {
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    font-size: 40px;
    margin: 8px 0px;
    color: #fff;
}

.banner-content h4 {
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    font-size: 36px;
    margin: 8px 0px;
    color: #fff;
}

.carousel-indicators [data-bs-target] {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fefffe;
    opacity: 100;

}

.carousel-indicators .active {
    background-color: #87d37c;
}

.team p {
    text-align: justify;
    font-family: var(--fontRoboto);
    font-size: 14px;
    font-weight: var(--fontW400);
}

.team:hover h1 {
    color: #87d37c;
}

.team:hover i {
    color: #87d37c;
}

.team i {
    font-size: 60px;
}

.card {
    border: none;
}

.team h1 {
    text-align: center;
    font-size: 24px;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    padding-top: 20px;
}

.about-txt h3 {
    text-align: center;
    margin-top: 100px;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    padding: 10px;
    font-size: 36px;
}

.about-txt p {
    text-align: center;
    margin: 3px 20% 50px 20%;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
}

.card-service {
    background: #39393a;
    transition: 1s;
}

.card-service:hover {
    background: #87d37c;
}

.card-service:hover .price-heading {
    background-color: white;
    border: none;
}

.card-service:hover h1 {
    color: #87d37c;
}

.card-service:hover h2 {
    color: #87d37c;
}

.service-heading h1 {
    text-align: center;
    margin-top: 100px;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    padding: 10px;
    font-size: 36px;
}

.service-heading p {
    text-align: center;
    margin: 3px 20% 50px 20%;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
}

.service-content {
    padding: 5px 0px 80px 0px;
}

.service-img {
    width: 100%;
}

.service-image {
    position: relative;
    overflow: hidden;
}

.service-social-link {
    position: absolute;
    width: 100%;
    background: #00000024;
    height: 100%;
    bottom: -100%;
    transition: 1s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-image:hover .service-social-link {
    bottom: 0;
}

.service-social-link a {
    font-size: 30px;
    text-decoration: none;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
    background: #87d37c;
}

.pricing-title {
    padding: 50px;
}

.pricing-title h1 {
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
}

.pricing-title p {
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
    margin: 10px 20% 40px 20%;
}

.price-heading {
    height: 150px;
    width: 150px;
    border: 4px solid white;
    border-radius: 50%;
    margin: 20px auto;
}

.price-heading h1,
.price-heading h2 {
    color: white;
    font-size: 30px;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
}

.price-heading h1 sub,
.price-heading h1 sup {
    font-size: 19px;
    font-weight: var(--fontW400);
}

.price-text {
    padding-bottom: 30px;
    color: white;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
}

.price-text h4 {
    font-size: 19px;
    padding: 12px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.order-btn {
    border-radius: 0px;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    padding: 5px 10px;
    margin-top: 10px;
}

.skil-section {
    margin: 80px 0px 50px 0px;
    background: url(../img/skil-bg.jpg) no-repeat center center / cover;
}

.skil-card {
    margin: 80px 20px;
    background: rgba(0, 0, 0, 0.266);
    border: 1px solid white;
    border-radius: none;
    color: #f7efef;
    padding: 10px;
}

.skil-card h1 {
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    font-size: 40px;
    margin: 0px;
}

.skil-card p {
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.contact-heading h1 {
    font-size: 36px;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    padding: 40px;
}

.contact-heading p {
    font-size: 18px;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
    margin: 0px 20% 50px 20%;
}

.contact-card {
    margin: 10px 0px 50px 0px;
}

.contact-card i {
    font-size: 50px;
    padding: 20px;
}

.contact-card h1 {
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    font-size: 18px;
    margin: 5px;
}

.contact-card:hover {
    color: #87d37c;
}

.contact-card:hover p {
    color: #000000;
}

.contact-card p {
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
    font-size: 14px;
}

.form-section {
    background: #f5f5f5;
    width: 100%;
}

.msg-form {
    padding: 70px 10px;
}

.form-1 {
    border-radius: 0px;
    border: none;
    margin-bottom: 15px;
}

.form-1::placeholder {
    font-style: italic;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
}

.btn-form {
    border-radius: 0;
    background: #87d37c;
    color: white;
    font-size: 14px;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
}

footer {
    background: #000101;
    width: 100%;
}

.footer-text {
    color: white;
    font-size: 14px;
}

.footer-icon {
    margin-right: 50px;
}

.footer-icon a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.footer-icon a:hover {
    color: #87d37c;
}

.portpolio-heading h1 {
    text-align: center;
    margin-top: 50px;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    padding: 10px;
    font-size: 36px;
}

.portpolio-heading p {
    text-align: center;
    margin: 3px 20% 30px 20%;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
}

.portpolio-section {
    padding: 80px 0 50px 0;
}

.portfolio-btn {
    border-radius: 0;
    margin-bottom: 10px;
    background: #000000;
    color: white;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
    text-transform: uppercase;
}

.portfolio-btn:hover {
    background: #87d37c;
    color: white;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW400);
}

.portpolio-img {
    width: 100%;
}
.portpolio-overly{
    position: relative;
    overflow: hidden;
}
.portpolio-overly-text{
    text-transform: uppercase;
    color:#87d37c;
    font-family: var(--fontRoboto);
    font-weight: var(--fontW700);
    font-size: 20px;
    position: absolute;
    width: 100%;
    background: #0000006d;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    bottom: -100%;
}
.portpolio-overly:hover .portpolio-overly-text{
    bottom: 0;
}
.mapouter{
    position:relative;
    text-align:center;
    height:500px;
    width:100%;
}


:root {
    --fontRoboto: 'Roboto', sans-serif;
    --fontArchivoNarrow: 'Archivo Narrow', sans-serif;
    --fontW700: 700;
    --fontW400: 400;
}